<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PetClinic - Owners</title>
</head>
<body>
	<h1 th:text="'List Of Owners'">List of Owners....</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Address</th>
			<th>City</th>
			<th>Phone</th>
		</tr>
		<tr th:each="owner : ${owners}">
			<td th:text="${owner.id}">First Name</td>
			<td th:text="${owner.firstName}">First Name</td>
			<td th:text="${owner.lastName}">Last Name</td>
			<td th:text="${owner.address}">Address</td>
			<td th:text="${owner.city}">City</td>
			<td th:text="${owner.telephone}">Telephone</td>
		</tr>
	</table>
	<br>
	<a th:href="@{/index}">Back</a>
</body>
</html>